// Breakpoints

$breakpoints: (mobile: rem(678),
    tablet: rem(924),
    desktop: rem(1134)
);

@mixin breakpointUp($size) {
    $breakpoint-values: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-values) {
        @content;
    }
}

@mixin breakpointDown($size) {
    $breakpoint-values: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-values) {
        @content;
    }
}